*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}
#about{
    display: flex;
}
#about .left{
    width: 40%;
}
#about .right{
    width: 60%;
}
#about .left img{
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 38%;
}
#about li{
    list-style: none;
}
#about .menu {
    display: flex;
    justify-content: end;
}
#about .menu a{
    text-decoration: none;
    font-size: 40px;
    color: gray;
    padding-top: 10px;
    padding-right: 20px;
}
#about .content{
    text-align: center;
    padding-top: 10rem;
}
#about .content h1{
    font-size: 90px;
}
#about .content p{
    font-size: 18px;
}
#about .content a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.104);
    padding: 15px 25px;
}
#about .content a:hover{
    background-color: gray;
}
#about .content{
    line-height: 80px;
}
#about .portfolio h4{
    font-size: 35px;
    color: grey;
    padding-bottom: 25px;
}
#about .portfolio{
    margin-top: 180px;
    padding: 10px 0;
}
#about .image1{
    width: 50%;
}
#about .image2{
    width: 50%;
    margin: 0 10px;
}
#about .image{
    display: flex;
}
.wedding{
    height: 280px;
    width: 446px;
}
.water{
    height: 424px;
}
.rocks{
    height: 765px;
    margin-top: 10px;
}
.chef{
    height: 284px;
    margin-top: 10px;
}
.wedding1{
    height: 268px;
    width: 429px;
    margin-top: 10px;
}
.boat{
    height: 297px;
    margin-top: 10px;
}
.p6{
    height: 325px;
    margin-top: 10px;
}
.about h4{
    font-size: 35px;
    color: grey;
    padding: 8rem 0 3rem;
}
.about p{
    line-height: 1.5rem;
}
.skills h4{
    font-size: 35px;
    color: grey;
    padding: 3rem 0;
}