*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#wrapper{
    display: flex;
}
#left{
    width: 40%;
}
#left img{
    height: 100vh;
    position: fixed;
    width: 40%;
}
#right{
    width: 60%;
    padding: 0 30px;
}
#right .menu a{
    font-size: 55px;
    color: gray;
    display: flex;
    justify-content: end;
    text-decoration: none;
}
#right .info{
    text-align: center;
    padding: 10rem;
    line-height: 4.5rem;
}
#right .info h1{
    font-size: 100px;
}
#right .info p{
    font-size: 22px;
}
#right .info a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.104);
    padding: 15px 25px;
}
#right .info a:hover {
    background-color: gray;
}
#right .portfolio h1{
    padding: 2.5rem 0;
    color: gray;
}
#right .image{
    display: flex;
}
#right .image1{
    margin-right: 5px;
}
#right .image2{
    margin-left: 5px;
}
#right .image img{
    width: 420px;
    margin: 5px;
}
#right .about h1{
    padding: 4rem 0;
    color: grey;
}
#right .about p{
    font-size: 18px;
    color: grey;
    text-align: justify;
}
#right .skills{
    line-height: 3rem;
}
#right .skills h1{
    padding: 3rem 0;
    color: grey;
}
#right .graph h3{
    letter-spacing: 0.25rem;
}
#right .photo, .design , .pshop{
    background-color: whitesmoke;
}
#right .photo p{
    background-color: grey;
    width: 95%;
    text-align: center;
    height: 42px;
    font-size: 25px;
    color: white;
}
#right .design p{
    background-color: grey;
    width: 85%;
    text-align: center;
    height: 42px;
    font-size: 25px;
    color: white;
}
#right .pshop p{
    background-color: grey;
    width: 80%;
    text-align: center;
    height: 42px;
    font-size: 25px;
    color: white;
}
#right .data{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: gray;
    margin: 50px 0;
    padding: 45px;
    color: white;
}
#right .download a{
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.104);
    padding: 15px 25px;
}
#right .download a:hover{
    background-color: gray;
}
#right .my h1{
    margin-top: 20px;
    padding: 2.5rem 0;
    color: grey;
}
#right .review img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#right .review, .text{
    display: flex;
}
#right .right{
    padding: 20px 4px;
    font-size: 12px;
}
#right .right p{
    padding: 1rem 0;
    font-size: 20px;
}
#right .right .edit{
    margin-left: 23px;
    color: gray;
    font-size: 22px;
}
#right .diff h1{
    margin-top: 20px;
    padding: 2.5rem 0;
    color: grey;
}
#right .prices{
    padding-bottom: 3rem;
}
#right .prices .advantage{
    display: flex;
}
#right .advantage .basic, .pro{
    width: 50%;
    border: 1px solid black;
}
#right .advantage .basic{
    margin-right: 10px;
}
#right .advantage .pro{
    margin-left: 10px;
}
#right .advantage .basic h1{
    background-color: grey;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 10px;
}
#right .advantage .pro h1{
    background-color: black;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 10px;
}
#right .advantage h2{
    text-align: center;
    border-bottom: 1px solid grey;
    color: gray;
    padding: 18px;
    font-size: 18px;
}
#right .advantage .rate{
    text-align: center;
    border-bottom: 1px solid grey;
    color: gray;
    padding: 30px;
    font-size: 20px;
    line-height: 3rem;

}
#right .advantage .rate p:first-child{
    font-size: 42px;
}
#right .advantage a{
    text-decoration: none;
    background-color: white;
    padding: 7px;
    color: black;
}
#right .advantage h3{
    background-color: whitesmoke;
    height: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-right: 10px;
}
#right .advantage a:hover{
    color: brown;
}
#right .contact{
    padding-bottom: 4rem;
}
#right .contact .con h1{
    padding: 3rem 0;
    color: gray;
}
#right .join{
    display: flex;
}
#right .join h1{
    margin-left: 25px;
    font-size: 18px;
    padding: 20px;
    color: gray;
}
#right .join h2{
    font-size: 34px;
    color: gray;
}
#right .image1 img{
    width: 100%;
}
#right .form h1{
    margin-top: 20px;
    padding: 20px 0;
    font-size: 20px;
}
#right .form input{
    width: 100%;
    height: 4rem;
    margin: 10px 0;
    padding-left: 10px;
}
#right .form a{
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    background-color: whitesmoke;
    color: black;
    height: 39px;
    padding: 15px;
    width: 11.5rem;
    height: 46px;
    text-transform: uppercase;
}
#right .form a:hover{
    background-color: gray;
}
#right .bottom{
    margin-top: 10rem;
    text-align: center;
    background-color: whitesmoke;
    padding: 10rem 0 5rem ;
}
#right .bottom a{
    color: gray;
    margin: 2px;
    font-size: 20px;
}
#right .bottom h2{
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    color: gray;
}
#right .bottom span{
    text-decoration: underline;
}
